<!DOCTYPE html>
<html>
<head>
  <title>CarListings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <br>
    <%= link_to 'Home', root_path %> |
    <%= link_to 'View Manufacturers', manufacturers_path(@manufacturer) %> |
    <%= link_to 'View Cars' %>
  </br>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>

<%= yield %>

</body>
</html>
